{% load static %}

<!Doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>Liste des Missions</title>
</head>
<body>    
    <form method="post" action="{% url 'mission_form_view' %}" id="new_mission_form">
        {% csrf_token %}
        <h2>Créer un nouveau client</h2>

        {% if erreurs.client %}
            {% for champ, message in erreurs.client.items %}
                <p style="color:red;">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" value="{{ valeurs.nom|default_if_none:'' }}">
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" value="{{ valeurs.prenom|default_if_none:'' }}">
        <label for="societe">Société:</label>
        <input type="text" id="societe" name="societe" value="{{ valeurs.societe|default_if_none:'' }}">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ valeurs.email|default_if_none:'' }}">
        <label for="telephone">Téléphone:</label>
        <input type="text" id="telephone" name="telephone" value="{{ valeurs.telephone|default_if_none:'' }}">
        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" name="adresse" value="{{ valeurs.adresse|default_if_none:'' }}">
        <label for="code_postal">Code Postal:</label>
        <input type="text" id="code_postal" name="code_postal" value="{{ valeurs.code_postal|default_if_none:'' }}">
        <label for="ville">Ville:</label>
        <input type="text" id="ville" name="ville" value="{{ valeurs.ville|default_if_none:'' }}">
        <h3>Client déjà existant</h3>
        <label for="client">Client:</label>
        <select id="client" name="client">
            <option value="">-- Choisis un client --</option>
            {% for client in clients %}
                <option value="{{ client.id }} {% if valeurs.client == client.id|stringformat:"s" %}selected{% endif %}">{{ client.nom }} {{ client.prenom }}</option>
            {% endfor %}
        </select>

        <h2>Créer un nouveau véhicule</h2>

        {% if erreurs.vehicule %}
            {% for champ, message in erreurs.vehicule.items %}
                <p style="color:red;">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <label for="marque">Marque:</label>
        <input type="text" id="marque" name="marque" value="{{ valeurs.marque|default_if_none:'' }}">
        <label for="modele">Modèle:</label>
        <input type="text" id="modele" name="modele" value="{{ valeurs.modele|default_if_none:'' }}">
        <label for="numero_serie">Numéro de Série:</label>
        <input type="text" id="numero_serie" name="numero_serie" value="{{ valeurs.numero_serie|default_if_none:'' }}">
        <label for="immatriculation">Immatriculation:</label>
        <input type="text" id="immatriculation" name="immatriculation" value="{{ valeurs.immatriculation|default_if_none:'' }}">
        <label for="mise_circulation">Mise en Circulation:</label>
        <input type="date" id="mise_circulation" name="mise_circulation" value="{{ valeurs.mise_circulation|date:"d-m-Y"|default_if_none:'' }}">
        <label for="kilometrage">Kilométrage:</label>
        <input type="number" id="kilometrage" name="kilometrage" value="{{ valeurs.kilometrage|default_if_none:'' }}">
        <label for="boite_vitesse">Boîte de Vitesse:</label>
        <input type="text" id="boite_vitesse" name="boite_vitesse" value="{{ valeurs.boite_vitesse|default_if_none:'' }}">
        <label for="carburant">Carburant:</label>
        <input type="text" id="carburant" name="carburant" value="{{ valeurs.carburant|default_if_none:'' }}">
        <label for="remarque_vehicule">Remarque:</label>
        <textarea id="remarque_vehicule" name="remarque_vehicule" rows="4" cols="50"></textarea>
        <label for="vo">Véhicule d'Occasion:</label>
        <input type="checkbox" id="vo" name="vo">
        <h3>Véhicule déjà existant</h3>
        <label for="vehicule">Véhicule:</label>
        <select id="vehicule" name="vehicule_id">
            <option value="">-- Choisis un véhicule --</option>
            {% for vehicule in vehicules %}
                <option value="{{ vehicule.id }}"{% if valeurs.vehicule_id == vehicule.id|stringformat:"s" %}selected{% endif %}>
                    {{ vehicule.marque }} {{ vehicule.modele }}
                </option>
            {% endfor %}
        </select>

        <h2>Ajouter des interventions à une mission</h2>

        {% if erreurs.intervention %}
            {% for champ, message in erreurs.intervention.items %}
                <p style="color:red;">{{ message }}</p>
            {% endfor %}
        {% endif %}

            <label for="intervention">Intervention :</label>
            <select id="intervention-select">
                <option value="">-- Choisis une intervention --</option>
                {% for intervention in interventions %}
                    <option value="{{ intervention.id }}">{{ intervention.libelle }}</option>
                {% endfor %}
            </select>

            <ul id="interventions-list"></ul>

            <input type="hidden" name="interventions" id="interventions-hidden">

        
        <h2>Créer une nouvelle mission</h2>

        {% if erreurs.mission %}
            {% for champ, message in erreurs.mission.items %}
                <p style="color:red;">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <label for="priorite">Priorité :</label>
        <select id="priorite" name="priorite" required>
            <option value="">-- Choisis une priorité --</option>
            {% for name, label in priorites %}
                <option value="{{ name }}" {% if valeurs.priorite == name|stringformat:"s" %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        <label for="_mission">Remarque :</label>
        <textarea id="remarque_mission" name="remarque_mission" rows="4" cols="50"></textarea>
        <label for="taux">Taux :</label>
        <select id="taux" name="taux" required>
            <option value="">-- Choisis un taux --</option>
            {% for name, label in taux %}
                <option value="{{ name }}" {% if valeurs.taux == name|stringformat:"s" %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select> 
        <button type="submit">Créer la mission</button>
    </form>
    <br><br>
    <a href="{% url 'list_view' %}">Voir la liste des missions</a>
    </body>
    <script src="{% static 'js/form_mission.js' %}"></script>
</html>

